<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Awaaz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <header>
      <h1>Awaaz</h1>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>

